

<body style="background-color: whitesmoke;">
    <!-- <div class = "container">
        <img src = "assets/images/buildingphoto.jpg" alt = "building">
    </div>
    <div class = "container">
        <h3>Our Mission</h3>
        <p>At Trinity Education, we believe in the power of Scholarship, Fellowship, and Leadership. These core values form the foundation of our educational journey, guiding our students as they grow and mature into their best selves.</p>
        <p>We are committed to nurturing well-rounded individuals who not only excel academically but also embody our core values in their everyday lives. Together, we inspire our students to embrace challenges, foster meaningful relationships, and make a positive impact on their communities.</p>
    </div> -->

    <div class="row" id="pic">
        <div class="column">
            <img src = "assets/images/buildingphoto.jpg" alt = "building">
        </div>

        <div class="column" id="mission">
            <h3>Our Mission</h3>
            <p>At Trinity Education, we believe in the power of Scholarship, Fellowship, and Leadership. These core values form the foundation of our educational journey, guiding our students as they grow and mature into their best selves.</p>
            <p>We are committed to nurturing well-rounded individuals who not only excel academically but also embody our core values in their everyday lives. Together, we inspire our students to embrace challenges, foster meaningful relationships, and make a positive impact on their communities.</p>
        </div>
      </div>

    <div class="row">
        <div class="column">
                <h2>Scholarship</h2>
                <p>Scholarship is the pursuit of knowledge and academic excellence. We foster a learning environment that challenges and inspires our students to discover their passions, expand their intellectual horizons, and reach their full potential. Our dedicated faculty encourages critical thinking, creativity, and a love for lifelong learning.</p>
        </div>

        <div class="column">
            <h2>Fellowship</h2>
            <p>Fellowship is the spirit of community and collaboration. We cherish the diversity of our student body and celebrate the unique perspectives and talents each student brings. Through teamwork, empathy, and respect, we create an inclusive and supportive environment where friendships are formed, connections are nurtured, and everyone feels a sense of belonging.</p>
        </div>
            
        <div class="column">
            <h2>Leadership</h2>
            <p>Leadership is the ability to positively influence others and make a difference in the world. We believe that leadership is not limited to a position or title; it is a mindset and a set of skills that can be developed in every student. Through various leadership opportunities, such as clubs, student government, and community service, we empower our students to discover their strengths, embrace responsibility, and become compassionate and effective leaders.</p>
        </div>    
      </div>

</body>

<footer>
        <div class = "container">
            <p>Trinity Education 123 Main Street Thistown, USA 12345</p>
        </div>
</footer>

