
/* .container {
  position: relative;
  text-align: center;
  color: black
} */

.columns {
  display: flex;
  /* border: solid 1px #333; */
  margin-bottom: 20px;
}

.column {
  padding: 20px;
  /* border: 1px solid #333; */
  text-align: center;
  font-size: 18px;
}

.column h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.columns-2 .column{
  flex: 50%;
  background-color: gainsboro;
}

.columns-3 .column{
  flex: 33.33%;
  background-color: gainsboro;
}


.column img {
    border-radius: 15px;
    position: relative;
    float: center;
    object-fit: cover;
    height: 400px;
    width: 500px;
}

.img-desc {
  font-size: 12px;
}

