<div class="admissions">
    <div class="form-header">
        <h3>Interested learning more?</h3>
        <p>We accept and process admissions on a rolling basis for each school year</p>
        <p>Fill out the form below and we will get back to you as soon as possible to discuss enrollment or addressing any questions you may have.</p>
    </div>

    <div class="form">
       <form>

            <!-- parent/gaurdian info -->
            <label for="fname">Parent/Guardian First Name:</label><br>
            <input type="text" id="fname" name="fname"><br>

            <label for="lname">Parent/Gaurdian Last Name:</label><br>
            <input type="text" id="lname" name="lname"><br>

            <label for="email">Parent/Gaurdian Email:</label><br>
            <input type="text" id="email" name="email"><br>

            <label for="phone">Parent/Gaurdian Phone Number:</label><br>
            <input type="text" id="phone" name="phone"><br>

            <!-- student info -->
            <label for="sname">Student First Name</label><br>
            <input type="text" id="sname" name="sname"><br>

            <label for="slname">Student Last Name</label><br>
            <input type="text" id="slname" name="slname"><br>

            <label for="grade">Student Grade</label><br>
            <input type="text" id="grade" name="grade"><br>

       </form>
    </div>
  </div>